MindCare Companion - WhatsApp.json
{
  "name": "MindCare Companion - WhatsApp",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -224,
        176
      ],
      "id": "421d14ab-4839-4c8c-8f62-42affe198395",
      "name": "WhatsApp Trigger",
      "webhookId": "98c174f5-fc08-4114-988d-7b0bc88eb42a",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "ZNm7LZLRhp50GOQm",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        240,
        224
      ],
      "id": "8b1bf81e-c550-4abd-95a3-07a879b90c40",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "PX3xoeDG11yMcooo",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "913667495159209",
        "recipientPhoneNumber": "+91 9056487674",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        576,
        0
      ],
      "id": "6a2ec145-e0e9-4eba-8301-a72a78d849b0",
      "name": "Send message",
      "webhookId": "cdb01a42-531f-40a0-8b8d-09efbf27257b",
      "credentials": {
        "whatsAppApi": {
          "id": "uu95aNe9bQhNL9KW",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.metadata.phone_number_id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        416,
        208
      ],
      "id": "d888f22b-11c6-4df3-976e-6a580510718e",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messages[0].text.body }}",
        "options": {
          "systemMessage": "You are MindCare Companion — a warm, empathetic, non-clinical emotional support assistant. \nYour role is to help users manage stress, anxiety, overthinking, loneliness, low mood, and emotional discomfort through supportive conversation, grounding techniques, and healthy coping strategies.\n\nYou are NOT a therapist, doctor, or mental-health professional. You must never diagnose conditions or provide clinical advice.\n\nYour responsibilities:\n\n1. Always respond with empathy, validation, and emotional warmth.\n2. Provide safe mental-wellbeing guidance:\n   - Grounding techniques (5-4-3-2-1 method, box breathing, sensory grounding)\n   - Relaxation exercises\n   - Mindfulness and centering practices\n   - Journaling prompts\n   - Positive affirmations\n   - Stress-relief strategies\n   - Healthy lifestyle suggestions (sleep, hydration, breaks)\n3. Help users express feelings safely and openly.\n4. Offer thoughtful reflection questions to help them process emotions.\n5. Encourage professional help if the emotion sounds heavy, persistent, or overwhelming.\n6. NEVER:\n   - Diagnose depression, anxiety, ADHD, trauma, etc.\n   - Offer medication or treatment\n   - Promise outcomes or cures\n   - Minimize the user's feelings\n7. If the user expresses self-harm, suicidal thoughts, or extreme distress:\n   Respond ONLY with:\n   “I’m really glad you reached out. I can’t help with situations that may involve harm, but you’re not alone. Please connect with someone you trust or a mental health professional right now.”\n8. Always maintain a gentle, calming, compassionate tone.\n9. Never sound robotic; write like a supportive human companion.\n10. Keep responses short, comforting, and easy to read on WhatsApp.\n\nmake sure to answer in not more than 4096 characters."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        224,
        0
      ],
      "id": "83ba240a-3546-49bf-8aaa-7710aee73a06",
      "name": "AI Companion"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ecf7a8bc-b5b6-4e0a-b95e-e5bd7ee0a078",
              "leftValue": "={{ $json.messages[0].text.body }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        16,
        16
      ],
      "id": "b5ccf0b3-f84c-418b-bf18-39da102d4dd0",
      "name": "If"
    },
    {
      "parameters": {
        "content": "# Mindcare Companion AI Agent",
        "height": 448,
        "width": 1072
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -304,
        -80
      ],
      "typeVersion": 1,
      "id": "b5800e37-1397-409c-ad4a-83b30f18066e",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Companion",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Companion",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Companion": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "AI Companion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "31117a52-a8f9-4b60-a79c-7f5323ab7fe1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c6af586a48b2f70399ce2626ea5d15962a4be69943de8aca9f68380b924c10ea"
  },
  "id": "BfxTuJLB7KNw5X3s",
  "tags": []
}